<!DOCTYPE html>
<html lang="en">

<!-- Copyright (C) 2020-Present  Liam Siira <Liam@Siira.io>	-->
<!-- This file is part of https://www.siira.io				-->
<!-- This code can not be copied and/or distributed			-->
<!-- without the express permission of Liam Siira			-->

<head>
	<title>Atheos IDE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A Web-Based IDE with a small footprint and minimal requirements">

	<!--Link fonts-->
	{{#each fonts}}
		<link rel="stylesheet" href="{{this}}">
	{{/each}}

	<!--Link favicons-->
	<link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png?v=2">
	<link rel="manifest" href="favicons/site.webmanifest">
	<link rel="mask-icon" href="favicons/safari-pinned-tab.svg?v=2" color="#5bbad5">
	<link rel="shortcut icon" href="favicons/favicon.ico?v=2">
	<meta name="msapplication-TileColor" content="#111111">
	<meta name="msapplication-config" content="favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<!--Link themes-->
	<link rel="stylesheet" href="theme/main.min.css">

	<!--Link moduules-->
	{{#each modules}}
		<script type="text/javascript" src="{{this}}"></script>
	{{/each}}
</head>

<body>
	{{{body}}}
</body>

</html>